<style>
  
</style>
<p>비밀번호 변경</p>
{% if validlink %}
<form method="POST">

    {% csrf_token %}
    <p> <label for="id_new_password1">비밀번호</label>
        <input type="password"  name="new_password1" required id="id_new_password1" >
            <span class="helptext"></span>
    </p>
    
비밀번호는 다른 개인 정보와 너무 유사 할 수 없습니다.<br>
비밀번호는 8 자 이상이어야합니다.<br>
비밀번호는 일반적으로 사용되는 비밀번호 일 수 없습니다.<br>
비밀번호는 완전히 숫자 일 수 없습니다<br>
    <p> 
        <label for="id_new_password2">비밀번호 중복</label>
        <input type="password"  name="new_password2" required id="id_new_password2" >
            <span class="helptext"></span>
    </p>
    <button type="submit">변경</button>
</form>
{% else %}
<p style="color:red;">이미 변경하엿습니다</p>
<p>
<a href="{% url 'password_reset' %}">새로운 비밀번호 설정</a>
</p>
{% endif %}
